.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

.waveButton:hover {
   outline: none;
  border-color: #09cec0;
  box-shadow: 0 0 10px #09cec0;
  background-color: #09cec0;
}

.waveMsg {
  padding: 10px;
  margin: 10px;
  border: 2px solid #dadada;
  border-radius: 7px;
}

.waveMsg:focus { 
    outline: none;
    border-color: #09cec0;
    box-shadow: 0 0 10px #09cec0;
}